#arrow1 {
  position: absolute;
  top: 0;
  left: -66.666%;

  width: 66.666%;
  height: 100%;

  fill: rgba(0, 0, 0, 0);
}

#arrow {
  position: absolute;
  top: 0;
  left: 0;

  width: 66.666%;
  height: 100%;

  fill: rgba(0, 0, 0, 1);
}

#pouse {
  position: absolute;
  top: 0;
  left: 75.757%;

  width: 24.242%;
  height: 100%;

  fill: rgba(0, 0, 0, 1);
}

@keyframes keyArrowOne {
  0% {
    transform: translateX(0%);
    fill: rgba(0, 0, 0, 0);
  }

  100% {
    transform: translateX(100%);
    fill: rgba(0, 0, 0, 1);
  }
}

@keyframes keyArrowTwo {
  0% {
    transform: translateX(0%);
    fill: rgba(0, 0, 0, 1);
  }

  100% {
    transform: translateX(120%);
    fill: rgba(0, 0, 0, 0);
  }
}

@keyframes keyBar {
  10% {
    transform: translateX(0%);
  }

  30% {
    transform: translateX(-10%);
  }

  40% {
    transform: translateX(0%);
  }
}


.animate1 {
  animation: keyArrowOne 0.5s;
}

.animate2 {
  animation: keyArrowTwo 0.5s;
}

.animate3 {
  animation: keyBar 0.5s;
}
