#divForwardArrowTwo {
  position: absolute;
  top: 0;
  left: -66.666%;

  width: 66.666%;
  height: 100%;

  fill: rgba(0, 0, 0, 0);
}

#divForwardArrowOne {
  position: absolute;
  top: 0;
  left: 0;

  width: 66.666%;
  height: 100%;

  fill: rgba(0, 0, 0, 1);
}

#divForwardBar {
  position: absolute;
  top: 0;
  left: 75.757%;

  width: 24.242%;
  height: 100%;

  fill: rgba(0, 0, 0, 1);
}

/* Animation Forward */
@keyframes forwardKeyArrowTwo {
  0% {
    transform: translateX(0%);
    fill: rgba(0, 0, 0, 0);
  }

  100% {
    transform: translateX(100%);
    fill: rgba(0, 0, 0, 1);
  }
}

@keyframes forwardKeyArrowOne {
  0% {
    transform: translateX(0%);
    fill: rgba(0, 0, 0, 1);
  }

  100% {
    transform: translateX(120%);
    fill: rgba(0, 0, 0, 0);
  }
}

@keyframes forwardKeyBar {
  10% {
    transform: translateX(0%);
  }

  30% {
    transform: translateX(-10%);
  }

  40% {
    transform: translateX(0%);
  }
}

.forwardAnimationArrowTwo {
  animation: forwardKeyArrowTwo 0.5s;
}

.forwardAnimationArrowOne {
  animation: forwardKeyArrowOne 0.5s;
}

.forwardAnimationBar {
  animation: forwardKeyBar 0.5s;
}
