/* San Francisco Pro */
@font-face {
    font-family: 'SF Pro';
    src: url('./SF-Pro/SF-Pro.woff2') format('woff2'),
         url('./SF-Pro/SF-Pro.woff') format('woff'),
         url('./SF-Pro/SF-Pro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url('./SF-Pro/SF-Pro-Italic.woff2') format('woff2'),
         url('./SF-Pro/SF-Pro-Italic.woff') format('woff'),
         url('./SF-Pro/SF-Pro-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* San Francisco Pro Display */
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-Black.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-Black.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-BlackItalic.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-BlackItalic.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-Heavy.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-Heavy.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-HeavyItalic.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-HeavyItalic.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-Bold.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-BoldItalic.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-BoldItalic.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-Semibold.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-Semibold.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-SemiboldItalic.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-SemiboldItalic.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-Medium.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-Medium.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-MediumItalic.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-MediumItalic.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-Regular.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-RegularItalic.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-RegularItalic.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-Light.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-Light.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-LightItalic.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-LightItalic.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-Thin.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-Thin.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-ThinItalic.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-ThinItalic.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-Ultralight.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-Ultralight.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-Ultralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('./SF-Pro-Display/SF-Pro-Display-UltralightItalic.woff2') format('woff2'),
         url('./SF-Pro-Display/SF-Pro-Display-UltralightItalic.woff') format('woff'),
         url('./SF-Pro-Display/SF-Pro-Display-UltralightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* San Francisco Pro Rounded */
@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./SF-Pro-Rounded/SF-Pro-Rounded-Black.woff2') format('woff2'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Black.woff') format('woff'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./SF-Pro-Rounded/SF-Pro-Rounded-Heavy.woff2') format('woff2'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Heavy.woff') format('woff'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./SF-Pro-Rounded/SF-Pro-Rounded-Bold.woff2') format('woff2'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Bold.woff') format('woff'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./SF-Pro-Rounded/SF-Pro-Rounded-Semibold.woff2') format('woff2'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Semibold.woff') format('woff'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./SF-Pro-Rounded/SF-Pro-Rounded-Medium.woff2') format('woff2'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Medium.woff') format('woff'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./SF-Pro-Rounded/SF-Pro-Rounded-Regular.woff2') format('woff2'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Regular.woff') format('woff'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./SF-Pro-Rounded/SF-Pro-Rounded-Light.woff2') format('woff2'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Light.woff') format('woff'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./SF-Pro-Rounded/SF-Pro-Rounded-Thin.woff2') format('woff2'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Thin.woff') format('woff'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Rounded';
    src: url('./SF-Pro-Rounded/SF-Pro-Rounded-Ultralight.woff2') format('woff2'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Ultralight.woff') format('woff'),
         url('./SF-Pro-Rounded/SF-Pro-Rounded-Ultralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* San Francisco Pro Text */
@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-Black.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-Black.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-BlackItalic.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-BlackItalic.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-Heavy.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-Heavy.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-HeavyItalic.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-HeavyItalic.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-Bold.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-Bold.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-BoldItalic.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-BoldItalic.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-Semibold.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-Semibold.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-SemiboldItalic.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-SemiboldItalic.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-Medium.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-Medium.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-MediumItalic.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-MediumItalic.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-Regular.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-Regular.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-RegularItalic.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-RegularItalic.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-Light.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-Light.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-LightItalic.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-LightItalic.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-Thin.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-Thin.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-ThinItalic.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-ThinItalic.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-Ultralight.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-Ultralight.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-Ultralight.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro Text';
    src: url('./SF-Pro-Text/SF-Pro-Text-UltralightItalic.woff2') format('woff2'),
         url('./SF-Pro-Text/SF-Pro-Text-UltralightItalic.woff') format('woff'),
         url('./SF-Pro-Text/SF-Pro-Text-UltralightItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
